.banner {
  background-size: cover;
  padding: 326px;
  background-position: center;
  font-family: 'K2D', sans-serif;
}

.banner h1 {
  margin: 25px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 64px;
  font-weight: bold;
  font-family: 'K2D', sans-serif;
  text-align:center;

}

.banner p {
  margin: 50px;
  font-size: 24px;
  color: white;
  opacity: .7;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-family: 'K2D', sans-serif;
  text-align:center;
}
