
.btn-medium {
  color: #999999;
  border: 1px solid #999999;
  padding: 10px 15px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
}
.btn-medium:hover {
  opacity: 1;
  text-decoration: none;
  color: #999999;
}
.btn-treehouse {
  background: rgb(133,209,146);
  border-radius: 3px;
  color: white;
  font-weight: bolder;
  padding: 10px 20px;
}
.btn-treehouse:hover {
  opacity: 0.6;
}

.btn-book {
  background: transparent;
  border-radius: 50px;
  border-color: rgb(150,150,150);
  border: 1px solid;
  color: rgb(150,150,150);
  font-weight: lighter;
  padding: 10px 15px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.btn-book:hover {
  opacity: 1;
}
