.btn-book {
  background: transparent;
  border-radius: 50px;
  border-color: rgb(150,150,150);
  border: 1px solid;
  color: rgb(150,150,150);
  font-weight: lighter;
  padding: 10px 15px;
  opacity: 0.6;
  margin-bottom: 10px;
}

.btn-book:hover {
  opacity: 1;
}
