// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "cards";
@import "avatar";
@import "button";
@import "footer";
@import "button";
@import "tabs";

.container2 {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  align-content: space-between;
}


.iform {
  text-align: center;

  
.container1 {
  display:flex;
  width: 200px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  align-content: space-between;
}


// img.avatar {
//   height:50px;
//   width: 50px;
//   position:absolute;
//   right: 20px;
// }
