// Import your components CSS files here.

@import "navbar";
@import "banner";
@import "cards";
@import "avatar";
@import "button";
@import "footer";
@import "tabs";
@import "message";
@import "form";
@import "profile";
@import "bannerindex";


.container2 {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  align-content: space-between;
}

.title {
  margin-left: 60px;
}


.iform {
  text-align: center;
  margin-bottom: 10px;
}

.container1 {
  display:flex;
  width: 200px;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  align-content: space-between;
}

.links {
  text-align:right;
  margin-right:10px;
}

.container-show {
  display:flex;
  justify-content: space-around;
}
