// Import your components CSS files here.
@import "alert";
@import "navbar";
@import "banner";
@import "cards";

.container2 {
  display:flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
  align-content: space-between;
}
